/* -- button container -- */
.btn {  
    display:inline-block;
    margin:5px 0 15px;
    text-align:center;
    vertical-align:top;
}
/* -- button elements -- */
.btn a,
.btn button,
.btn input { 
    background-color:#FFFFFF; 
    border:2px solid #00a7e1; 
    border-radius:10px 0px 0px 0px; 
    color:#00a7e1;
    cursor:pointer;
    display:table-cell;
    height:35px; 
    vertical-align: middle;
    width:110px;
}
.btn.long a,
.btn.long button,
.btn.long input { 
    width:210px; 
}
.btn.tall a,
.btn.tall button,
.btn.tall input { 
    height:65px; 
    width:90px; 
}
.btn.small a,
.btn.small button,
.btn.small input { 
    border-radius:0px;
    height:25px;
    width:90px;
}
.btn.pos a,
.btn.pos button,
.btn.pos input { 
    border-color:#3CB878; 
    color:#3CB878;
}
.btn.neg a,
.btn.neg button,
.btn.neg input { 
    border-color:#F3A392; 
    color:#F26C4F;
}
/* -- hover states -- */
.btn a:hover,
.btn button:hover,
.btn input:hover { 
    background-color:#00A7E1; 
    border-color:#C8EEFB; 
    color:#FFF; 
    text-decoration:none;
}
.btn.pos a:hover,
.btn.pos button:hover,
.btn.pos input:hover { 
    background-color:#3CB878; 
    border-color:#82CA9C; 
    color:#FFF; 
}
.btn.neg a:hover,
.btn.neg button:hover,
.btn.neg input:hover { 
    background-color:#F26C4F; 
    border-color:#F3A392; 
    color:#FFF; 
}
/* -- button icons -- */
.arrowL { 
    background:url('../img/arrowBlueL.png') no-repeat left center; 
    display:inline-block; 
    padding-left:12px;
    text-align:left;
}
.btn:hover .arrowL { 
    background:url('../img/arrowWhiteL.png') no-repeat left center; 
}
.arrowR { 
    background:url('../img/arrowBlue.png') no-repeat right center; 
    display:inline-block; 
    padding-right:12px;
    text-align:left;
}
.btn:hover .arrowR { 
    background:url('../img/arrowWhite.png') no-repeat right center; 
}
.arrowSmlL { 
    background:url('../img/arrowBlueSmlL.png') no-repeat left center; 
    display:inline-block; 
    padding-left:12px;
    text-align:left;
}
.btn:hover .arrowSmlL { 
    background:url('../img/arrowWhiteSmlL.png') no-repeat left center; 
}
.arrowSmlR { 
    background:url('../img/arrowBlueSml.png') no-repeat right center; 
    display:inline-block; 
    padding-right:12px;
    text-align:left;
}
.btn:hover .arrowSmlR { 
    background:url('../img/arrowWhiteSml.png') no-repeat right center; 
}
/************************** ICONS **************************/
.icon { 
    background:url('../img/sprite-icons.png') no-repeat 0px 0px;
    display:block;
    height:35px;
    text-indent:-9999px;
    width:35px;
}
.add { 
    background-position:0px -40px;
}
.minus { 
    background-position:0px -80px;
}
.search { 
    background-position:0px -120px;
}
.close { 
    background-position:0px -160px;
}
.expand { 
    background-position:0px -200px;
}
.link { 
    background-position:0px -240px;
}
.tick { 
    background-position:0px -280px;
}
.delete { 
    background-position:0px -320px;
}
.collapse { 
    background-position:0px -360px;
}
span.icon {
    display:inline-block;
}
p span.icon {
    padding-top:10px;
}
h3 span.icon {
    padding-top:6px;
}
h4 span.icon {
    padding-top:8px;
}
label span.icon {
    padding-top:10px;
}