/************************** DEFAULT STYLES **************************/
html,body,div,pre,form,table,fieldset,h1,h2,h3,h4,h5,h6,dl,hr,p,a,blockquote,td{margin:0;padding:0;}
img { border:none; display:block; }
a, a:focus {outline: none;}

/* -- table -- */
table {border-collapse:collapse;}
td, th {vertical-align:top; text-align: left;}

/* -- contain -- */
.contain:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.contain{display:inline-table;}
* html .contain{/* nomac \*/height:1%;/* nomac */}
.contain{display:block;}

/* -- use box-sizing -- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* -- helper classes -- */
.floatL {float: left;}
.floatR {float: right;}
.rel { position:relative; }
.abs { position:absolute; }
.hide { display:none; }
.center { margin:0 auto; }
.half { width:50%; }
.inlineB { display:inline-block; }

/************************** CORE SITE LAYOUT **************************/
.wrapper { 
    margin:0 auto; 
    width:80%; 
}
.pageLayout { 
    background-color:#FFFFFF; 
    padding:0px 16px; 
}

/* -- header -- 
header { 
    background-color:#FFFFFF; 
    border-radius:10px 6px 6px 6px; 
    height:100px; 
    margin:10px 0px; 
    padding:0px 0px 0px 16px;
}
.logo { 
    background:url('../img/box-logo.png') no-repeat top right; 
    display:block; 
    float:right; 
   
    text-indent:-9999px; 
    
}
header ul { 
    display:table; 
    float:right; 
    list-style:none; 
    margin:20px 0px 0px 350px; 
    padding:0px;
    width:440px; 
}
header li { 
    display:table-cell; 
    height:60px; 
    padding-right:36px; 
    vertical-align:middle; 
}
header li:nth-child(1) { 
    width:60px;
}
header li:nth-child(2) { 
    width:110px;
}
header li:last-child { 
    background:url('../img/login.png') no-repeat 0px 0px; 
    padding:0 0 0 45px; 
    width:210px;
}
header li a { 
    color:#5e5f61;
    display:block; 
    
//    font-weight:bold; 
}
header li a:hover { 
    text-decoration:none;
}
header li:last-child span { 
    display:block; 
}


/* -- main content -- */
.content { 
    padding-top:16px; 
}
.pageLayout .col { 
    padding-right:24px;
}
.pageLayout .col.last { 
    padding-right:0px;
}
.colSml { 
    float:left;
    width:232px;
}
.colMed { 
    float:left;
    width:464px;
}
.colLrg { 
    float:left;
    width:696px;
}

/* -- footer -- */
footer.pageLayout {
    padding-bottom:28px;
    padding-top:60px;   
}
.footerLogo { 
    display:block; 
    margin:0 18px 10px 0;
}
footer hr { 
    height:2px;
    margin:10px 0px;
}
.share { 
    float:left;
    padding:0 30px 0 250px;
}
.share span { 
    display:inline-block;
    line-height:29px;
    vertical-align:middle;
}
.share ul {
    display:inline-block;
    padding:0px;
    margin:0px;
}
.share li {
    display:inline-block;
    margin-right:-2px;
}
.share li a {
    display:block;
    height:30px;
    text-indent:-9999px;
    width:30px;
}
.share .linkedin {
    background: url('../img/share-linkedin.png') no-repeat 0px 0px;
}
.share .twitter {
    background: url('../img/share-twitter.png') no-repeat 0px 0px;
}
.share .google {
    background: url('../img/share-google.png') no-repeat 0px 0px;
}
footer nav { 
    float:left;
}
footer nav ul { 
    margin:0px; 
    padding:0px; 
}
footer nav li { 
    border-right:1px solid #00a7e1;
    display:inline-block;
    padding:0 5px;
}
footer nav li:last-child {
    border-right:none;
    padding-right:0px;
}
footer nav a { 
    color:#5e5f61;
    display:block;
    line-height:12px;
}
footer nav small { 
    display:inline-block;
}
/************************** FORMS **************************/
select {
    border:2px solid #00a7e1;
    border-radius:4px;
    color:#00a7e1;
    height:40px;
    padding:8px 0 8px 16px;
    width:266px;
}
input {
    border:2px solid #5e5f61;
    border-radius:4px;
    color:#5e5f61;
    height:40px; 
    outline:none;
    padding:8px 0 8px 16px;
    width:220px;  
}
input:focus {
    border:2px solid #00a7e1; 
}
input:disabled {
    border:none;
}
.error input {
    border:2px solid #F26C4F; 
    color:#F26C4F;
}
.error label {
    color:#F26C4F;
}
.correct input {
    border:2px solid #3CB878;
    color:#3CB878; 
}
.correct label {
    color:#3CB878; 
}
textarea {
    border:2px solid #5e5f61;
    border-radius:4px; 
    min-height:100px;
    padding:16px 16px 0;  
    width:100%;
}
textarea:focus {
    border:2px solid #00a7e1;
}
/************************** TABLES **************************/
tbody tr { border-bottom:1px solid #ebebeb; }
td,
td:not(:last-child) { padding-right:10px; }