/* -- tabs -- */
.tabs {
    margin:0px;
    padding:0px;
}
.tabs li {
    background-color:#E8EDED;
    border-top-left-radius:10px;
    border-top-right-radius:4px;
    display:inline-block;
    height:60px;
    padding:16px 16px 0 16px;
    position:relative;
    vertical-align:top;
    width:191px;
}
.tabs li.selected {
    background-color:#FFFFFF;
    border:2px solid #E8EDED;
    border-bottom:none;
    border-top-left-radius:2px;
}
.tabs li.selected:after { 
    background:url('../img/borderTabs.png') no-repeat 0px 0px #FFFFFF;
    content: "";
    height:60px;
    left:-2px;
    position:absolute;
    top:-2px;
    width:16px;
}
.tabs li a {
    color:#333333;
}
.tabs li.selected a {
    color:#00A7E1;
    font-weight:bold;
}
.tabbedContent {
    border:2px solid #E8EDED;
    border-radius:4px;
    margin-top:-2px;
    padding:16px;
}
/* -- popup windows -- */
.popup { 
    background-color:#FFF;
    border:2px solid #E8EDED;
    border-radius:4px;
    border-top-left-radius:10px;
    left:0px;
    margin:0px 16px;
    padding:30px;
    width:928px;
    z-index:1000;
}
.popupBg {
    background-color:#000;
    display:none;
    height:100%;
    left:0px;
    opacity:0.5;
    position:fixed;
    top:0px;
    width:100%;
    z-index:999;
}
.popupClose { 
    background:url('../img/sprite-icons.png') no-repeat;
    background-position:0px -80px;
    background-size:18px 200px;
    cursor:pointer;
    padding-left:18px;
}
/* -- nest modules -- */
.module { 
    box-shadow: 3px 2px #00a7e1;
    background-color:#00a7e1;
    border-radius:4px;
    display:inline-block;
    margin-right:16px;
    vertical-align:top;
    width:216px;
}
.inner{
    background-color:#FFF;
    border:1px solid white;
    border-bottom-right-radius:30px;
    padding:16px 10px 10px 16px;
}
.module.last { 
    margin-right:0px;
}
.module .more { 
    background:url('../img/arrowSolid.png') no-repeat center right;
    padding-right:10px;
}
/* -- sidebar -- */
.sidebar { 
    border-right:1px solid #ebebeb;
    padding-right:20px;
}
/* -- lists -- */
 ul.imageList,
 ul.linkList { 
    list-style:none;
    margin:0px;
    padding:0px;
}
 ul.imageList a,
 ul.linkList a { 
    background:url('../img/arrowBlueSml.png') no-repeat center right;
    padding-right:15px;
}
.imageList li { 
    border-bottom:1px solid #ebebeb;
    margin-bottom:10px;
    padding-bottom:5px;
}
.imageList li:last-child { 
    border-bottom:none;
}
.imageList img { 
    vertical-align:top;
}
.imageList .textContent { 
    display:inline-block;
    margin-left:12px;
    width:125px;
}
.colMed .imageList .textContent { 
    width:366px;
}
.colLrg .imageList .textContent { 
    width:600px;
}
.linkList a { 
    border-bottom:1px solid #ebebeb;
    display:block;
    padding:10px 15px 10px 0;
}
/* -- tooltips -- */
.tooltip { 
    background-color:#FFF;
    border:2px solid #00A7E1;
    border-radius:4px;
    padding:12px;
}
.tooltip.small { 
    width:240px;
}
.tooltip.medium { 
    width:360px;
}
.tooltip.large { 
    width:480px;
}
.tooltip .arrow { 
    background-color:#FFF;
    border-left: 2px solid #00A7E1;
    border-top: 2px solid #00A7E1;
    border-top-left-radius: 4px;
    content:"";
    display:inline-block;
    height: 20px;
    left: 50%;
    position: absolute;
    top: -12px;
     transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg); 
    width: 20px; 
}
.tooltip .arrow.top { 
     transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);   
}
.tooltip .arrow.right { 
     transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -moz-transform:rotate(315deg);   
}
.tooltip .arrow.bottom { 
     transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);   
}
.tooltip .arrow.left { 
     transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);   
}
.tipClose { 
    background:url('../img/sprite-icons.png') no-repeat;
    background-position:0px -80px;
    background-size:18px 200px;
    cursor:pointer;
    float:right;
    padding-left:18px;
}
.listL { 
    float:left;
    padding-right:16px;
    width:50%;
}
.listR { 
    float:left;
    float:left;
    width:50%;
}