body {
  margin:0px;
  background-color:rgba(229, 229, 229, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-10px;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:250px;
  top:1060px;
  width:220px;
  height:270px;
  color:#33495F;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:270px;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:20px;
  top:90px;
  width:180px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:335px;
  top:1090px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:250px;
  top:1270px;
  width:220px;
  height:60px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#33495F;
  text-align:left;
  line-height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u6 {
  position:absolute;
  left:20px;
  top:30px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:337px;
  top:1278px;
  width:45px;
  height:45px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:250px;
  top:1720px;
  width:220px;
  height:270px;
  font-size:22px;
  color:#33495F;
  text-align:left;
  line-height:48px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:270px;
}
#u12 {
  position:absolute;
  left:20px;
  top:90px;
  width:180px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:335px;
  top:1750px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:1857px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:-1px;
  width:91px;
  height:22px;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u17_ann {
  position:absolute;
  left:84px;
  top:-5px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:108px;
  top:3px;
  width:15px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:1878px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-1px;
  width:91px;
  height:22px;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u23_ann {
  position:absolute;
  left:84px;
  top:-5px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:108px;
  top:3px;
  width:15px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:270px;
  top:1899px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:-1px;
  width:91px;
  height:22px;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u29_ann {
  position:absolute;
  left:84px;
  top:-5px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:108px;
  top:3px;
  width:15px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:250px;
  top:1390px;
  width:220px;
  height:270px;
  font-size:22px;
  color:#33495F;
  text-align:left;
  line-height:48px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:270px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:250px;
  top:1600px;
  width:220px;
  height:60px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#33495F;
  text-align:left;
  line-height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u37 {
  position:absolute;
  left:20px;
  top:30px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:406px;
  top:1608px;
  width:45px;
  height:45px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:265px;
  top:1608px;
  width:45px;
  height:45px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:270px;
  top:1490px;
  width:180px;
  height:20px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:1px;
  width:176px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:270px;
  top:1513px;
  width:180px;
  height:20px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:1px;
  width:176px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:270px;
  top:1535px;
  width:180px;
  height:20px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:1px;
  width:176px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:265px;
  top:1450px;
  width:190px;
  height:35px;
  font-size:14px;
  color:#E94D3C;
  line-height:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u51 {
  position:absolute;
  left:20px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:250px;
  top:255px;
  width:460px;
  height:80px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:80px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:10px;
  top:220px;
  width:940px;
  height:23px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:23px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:45px;
  width:940px;
  height:70px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-1px;
  width:936px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:10px;
  top:15px;
  width:940px;
  height:25px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:936px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:10px;
  top:120px;
  width:940px;
  height:32px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:430px;
  top:180px;
  width:101px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:2px;
}
#u64 {
  position:absolute;
  left:130px;
  top:2110px;
  width:700px;
  height:500px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:500px;
}
#u65 {
  position:absolute;
  left:20px;
  top:90px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:670px;
  top:2235px;
  width:110px;
  height:35px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:180px;
  top:2240px;
  width:490px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:180px;
  top:2400px;
  width:600px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u74 {
  position:absolute;
  left:180px;
  top:2416px;
  width:337px;
  height:21px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:180px;
  top:2284px;
  width:360px;
  height:74px;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:180px;
  top:2375px;
  width:220px;
  height:18px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:180px;
  top:2444px;
  width:220px;
  height:18px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:180px;
  top:2470px;
  width:600px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u87 {
  position:absolute;
  left:180px;
  top:2486px;
  width:337px;
  height:21px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:180px;
  top:2514px;
  width:220px;
  height:18px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:180px;
  top:2140px;
  width:60px;
  height:60px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:260px;
  top:2146px;
  width:300px;
  height:24px;
  font-size:16px;
  color:#33495F;
  text-align:left;
  line-height:24px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:260px;
  top:2170px;
  width:220px;
  height:18px;
  color:#33495F;
  text-align:left;
  line-height:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:197px;
  top:2149px;
  width:26px;
  height:42px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:42px;
}
#u100 {
  position:absolute;
  left:2px;
  top:13px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:180px;
  top:2220px;
  width:600px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u102 {
  position:absolute;
  left:250px;
  top:425px;
  width:460px;
  height:210px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:210px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:10px;
  top:390px;
  width:940px;
  height:23px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:23px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:430px;
  top:360px;
  width:101px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:2px;
}
#u107 {
  position:absolute;
  left:250px;
  top:736px;
  width:460px;
  height:200px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:200px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:10px;
  top:701px;
  width:940px;
  height:23px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:23px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:430px;
  top:671px;
  width:101px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:2px;
}
#u112 {
  position:absolute;
  left:10px;
  top:990px;
  width:940px;
  height:23px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:23px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:430px;
  top:960px;
  width:101px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:2px;
}
#u115 {
  position:absolute;
  left:490px;
  top:1060px;
  width:220px;
  height:120px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:150px;
  top:1095px;
  width:180px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u118 {
  position:absolute;
  left:10px;
  top:1085px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u119 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:150px;
  top:1165px;
  width:95px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u121 {
  position:absolute;
  left:10px;
  top:1155px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u122 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:150px;
  top:1235px;
  width:95px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u124 {
  position:absolute;
  left:10px;
  top:1225px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u125 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:150px;
  top:1305px;
  width:180px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u127 {
  position:absolute;
  left:10px;
  top:1295px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u128 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:490px;
  top:1390px;
  width:220px;
  height:120px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:150px;
  top:1460px;
  width:95px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u132 {
  position:absolute;
  left:10px;
  top:1450px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u133 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:150px;
  top:1530px;
  width:95px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u135 {
  position:absolute;
  left:10px;
  top:1520px;
  width:160px;
  height:60px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u136 {
  position:absolute;
  left:8px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:490px;
  top:1720px;
  width:220px;
  height:120px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:250px;
  top:2040px;
  width:460px;
  height:70px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:430px;
  top:2680px;
  width:101px;
  height:10px;
}
#u141_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:2px;
}
#u143 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  height:40px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u143_img.mouseOver {
}
#u143.mouseOver {
  opacity:0.6;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:730px;
  top:701px;
  width:220px;
  height:120px;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u146 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:670px;
  top:2415px;
  width:110px;
  height:35px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:670px;
  top:2485px;
  width:110px;
  height:35px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
