/* @import url(https://fonts.googleapis.com/css?family=Lato:500italic,700italic,300,700); */

@import url(http://fonts.googleapis.com/css?family=Oxygen);

﻿/************************** DEFAULT ELEMENT STYLES **************************/
html,
body { 
/*    font-family: arial, sans-serif;  */
  background-color:#B9B9B9; 
  color:#5e5f61; 
  font:16px/1.5 Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:500;
}
h1, 
h2, 
h3, 
h4 { 
    color:#333333; 
    font-family: 'Signika Negative', sans-serif; 
    font-weight:normal; 
    line-height:1em; 
    margin:0.25em 0 0.5em; 
}
h1 { 
    font-size:225%; 
}
h2 { 
    font-size:200%; 
}
h3 { 
    font-size:137.5%; 
}
td h3 { 
    margin:0;
}
h4 { 
    font-size:112.5%; 
    font-weight:bold; 
}
p,
label { 
    font-size:81.25%; 
    line-height:1.25em; 
    margin:0.25em 0 0.5em; 
}
td p { 
    margin:0.75em 0;
}
a { 
    color:#00A7E1; 
    line-height:1em; 
    text-decoration:none; 
}
a:hover { 
    text-decoration:underline;
}
input,
button { 
    line-height:1em; 
}
small { 
    font-size:68.75%; 
    line-height:1em; 
}
hr {
    background-color:#e8eded;
    border:none;
    height:1px;
    margin:15px 0px;
}
.module hr { 
    margin:7px 0px;
}
select,
input {
    font-size:100%;
}
form label,
form p {
    display:block;
    font-size:100%;
}

/************************** SPECIFIC STYLES **************************/
header li a { 
    font-size:125%; 
}
.btn { 
    font-size:100%; 
}
.btn a,
.btn button,
.btn input { 
    font-family: 'Signika Negative', sans-serif; 
    font-size:100%; 
}
.btn.tall a,
.btn.tall button,
.btn.tall input { 
    font-size:112.5%; 
}
.btn.small a,
.btn.small button,
.btn.small input { 
    font-size:81.25%; 
}
.tabs li a {
    font-size:112.5%;
}
.module .more { 
    font-weight:bold;
}
.underline { 
    border-bottom:4px solid #8dccdc;
    padding-bottom:0.25em;
}
.overline { 
    border-top:4px solid #8dccdc;
    padding-top:10px;
}

/************************** COLOURS **************************/
.clrPrimary,
.clrPrimary p,
.clrPrimary a,
.clrPrimary button,
.clrPrimary input { 
    color:#00A7E1; 
}
.clrPrimaryBG { 
    background-color:#00A7E1; 
}
.clrPos { 
    color:#3CB878; 
}
.clrPosBG { 
    background-color:#3CB878; 
}
.clrNeg { 
    color:#F26C4F; 
}
.clrNegBG { 
    background-color:#F26C4F; 
}